.page-background {
  background-image: linear-gradient(rgb(181, 177, 177), rgb(117, 118, 118));
  background-size: cover, 10px 10px, 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  font-size: calc(1px + 2vmin);
  color: white;
  font-family: "Copperplate", fantasy;
  text-align: center;
  justify-content: center;
}

.topnav {
  background-image: linear-gradient(rgb(63, 61, 61), rgb(8, 8, 8));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Copperplate", fantasy;
  padding: 10px 0;
  text-align: center;
  font-size: 30px;
  justify-content: center;
  display: flex;
}

.button {
  background-color: transparent;
  font-family: "Copperplate", fantasy;
  border: none;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.text_box {
  position: relative;
  padding: 32px 0;
  height: auto;
  justify-content: flex-start;
  font-size: 32px;
  text-align: left;
}

.photo {
  height: 326.4px;
  width: 244.8px;
}

.gameinfo h4 {
  border: black;
  border-style: groove;
  align-items: center;
  font-size: 22px;
  background-color: rgb(63, 61, 61);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  padding: 5px;
}

.nav {
  height: 45px;
  font-size: 20px;
  min-width: 1000px;
  background-image: linear-gradient(rgb(63, 61, 61), rgb(8, 8, 8));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Copperplate", fantasy;
  display: flex;
  padding: .5rem;
  font-family: "Copperplate", fantasy;
  justify-content: center;
}

.logo img {
  position: fixed;
  padding: .5rem;
  top: 0;
  left: 0;
  padding: 0;
  margin: 5px;
  width: 175px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.nav li:active {
  background-color: #de4545
}

.nav li:hover {
  transform: scale(1.2);
  /* Slightly increase the size on hover */
}

.blog-preview {
  margin-top: 10px;
  flex: 1 0 300px;
  background-image: linear-gradient(rgb(63, 61, 61), rgb(8, 8, 8));

}

.blog-preview:hover {
  background-image: linear-gradient(rgb(43, 41, 41), rgb(8, 8, 8));
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: rgb(173, 230, 248);
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
  color: white;
}

.blog-details {
  display: flex;
  justify-content: center;
  font-family: "Escrow";
}

.blog-details h2 {
  font-family: "Copperplate", fantasy;
  font-size: 34;
  color: rgb(173, 230, 248);
  margin-bottom: 20px;
}

.blog-details p {
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 75px;
  margin-right: 75px;
  gap: 2rem;
  max-width: 900px;
}

.blog-details ul {
  margin-left: 50px;
  padding: 0;
}

.blog-details ol {
  margin-left: 58px;
  padding: 0;
}

.blog-details button {
  font-family: "Copperplate", fantasy;
  background-color: rgb(173, 230, 248);
  ;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.blog-details div {
  margin: 22px 0;
}

.create_entry {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.create_entry label {
  text-align: left;
  display: block;
}

.create_entry h2 {
  font-size: 22;
  color: rgb(173, 230, 248);
  margin-bottom: 30px;
}

.create_entry input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid white;
  box-sizing: border-box;
  display: block;
  font-family: "Copperplate", fantasy;
}

.create_entry button {
  font-family: "Copperplate", fantasy;
  background-color: rgb(173, 230, 248);
  ;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.blog-details p {
  text-align: left;
  margin: 0 0 20px;
  text-decoration: none;
  margin-left: 75px;
  margin-right: 75px;
}

.blog-details li {
  text-align: left;
  padding-left: 20px;
  /* add indentation to the left */
  text-decoration: none;
  /* remove the underline from links */
  margin-left: 75px;
  margin-right: 75px;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu>li {
  margin: 0;

  background-color: white;
}

.menu>li:hover {
  background-color: lightgray;
}

.menu>li>button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.codenames {
  background-color: transparent;
}

.codenames-board {
  display: flex;
  justify-content: center;
}


.codenames-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 800px;
  color: black;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  margin: 10px;
  height: 60px;
  width: 140px;
}

.box:hover {
  transform: scale(1.08);
  /* Slightly increase the size on hover */
}

.codenames h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.codenames button {
  font-family: "Copperplate", fantasy;
  background-image: linear-gradient(rgb(189, 233, 247), rgb(173, 230, 248));
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

.codenames-buttongroup {
  width: 800px;
}

/* .wordle {
  display: flex;
  justify-content: space-between;
} */

.cells {
  /* Additional styles for the cells container */
  justify-content: center;
  display: flex;
}

.cell {
  /* Your existing styles for the cell */
  /* Add additional styles for background color */
  background-color: rgb(10, 10, 10);
  padding: 10px;
  margin-right: 5px;
}

.wordle button {
  font-family: "Copperplate", fantasy;
  background-image: linear-gradient(rgb(189, 233, 247), rgb(173, 230, 248));
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

.wordle button:hover {
  transform: scale(1.05);
  /* Slightly increase the size on hover */
}

.codenames button:hover {
  transform: scale(1.05);
  /* Slightly increase the size on hover */
}


.chatroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.chatroom button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "Copperplate", fantasy;
  background-color: rgb(173, 230, 248);
  ;
  border: none;
  color: black;
  padding: 5px 5px;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  margin-top: 10px;
}

.chatroom_create button {
  width: 100%;
}

.chat_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centers vertically */
}

.page-container h1 {
  background-image: linear-gradient(rgb(63, 61, 61), rgb(8, 8, 8));
}

.sidepanel {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(63, 61, 61);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.904);
  font-family: "Copperplate", fantasy;
  width: 130px;
  height: fit-content;
  margin-left: 5px;
  padding: 12px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 2px 1px black;
  margin-right: 20px;
  margin-top: 10px;
  box-sizing: border-box;
}

.sidepanel-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgb(247, 244, 244), rgb(156, 154, 154));
  border-radius: 10px 10px 0 0;
  color: rgb(24, 24, 24);
  font-weight: bold;
}

.sidepanel ul li {
  display: flex;
  justify-content: center;
}

.sidepanel-bottom {
  flex-grow: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -12px;
  margin-right: -12px;
}

.sidepanel-bottom li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  padding: 2px 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.sidepanel-bottom a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}


.sidepanel-bottom ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  /* Add this property to ensure full width of the side panel */
}

.sidepanel-bottom li:hover {
  transform: scale(1.2);
  /* Slightly increase the size on hover */
  color: white;
}

.bloglist-container {
  margin-top: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 10px 10px;
}

.bloglist-container h1 {
  width: 100%;
  background-color: rgb(58, 57, 57);
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  align-self: flex-start;
  border-radius: 10px 10px 0 0;

}

.bloglist-container .blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  row-gap: 10px;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  height: 440px;
}

.blog-preview {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-preview:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* Apply box shadow on hover */
  transform: scale(1.01);
  /* Slightly increase the size on hover */
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Adjust alignment as needed */
}

.blog-content h2 {
  margin-bottom: 10px;
}

.blog-image-container {
  width: 200px;
  height: 150px;
}

.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-bar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.search-bar input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  background-color: rgb(10, 10, 10);
  color: rgb(173, 230, 248);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.search-bar input::placeholder {
  color: rgb(173, 230, 248);
}

.pregame {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pregame-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pregame-buttons input {
  margin-top: 40px;
  /* Adjust the margin as needed */
}


.input {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  width: 110px;
  background-color: rgb(10, 10, 10);
  color: rgb(173, 230, 248);
  padding: 15px 32px;

}

.red {
  color: red;
  background-color: white;
  border-radius: 3px;
}

.blue {
  color: blue;
  background-color: white;
  border-radius: 3px;
}

.turn-indicator {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.gamenotfound {
  margin-top: 20px;
  font-size: 24px;
}